*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
img{
    vertical-align: center;
}
/* ********************************************************************************************************************************
Heading Part Start
******************************************************************************************************************************** */
.navbar-light .navbar-toggler {
	color: rgb(255, 255, 255)!important;
	border-color: rgb(255, 255, 255)!important;
}
#heading-part {
	padding-bottom: 5%;
    padding-top: 5%;
}
.logo-img {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}
.logo-img img{
    width: 100%;
}

.classes-btn{
    color: white!important;
    font-size: 20px;
}
.bg-color{
    background-color: #43A1F6 ;
}
/* banner part */
.banner-img {
	padding: 15% 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5%;
}
/* ********************************************************************************************************************************
Ready File Part Start
******************************************************************************************************************************** */
#readyfile {
	margin: 50px 0;
}
.readyfile-text a {
	background-color: #43A1F6;
	padding: 12px 26px;
	margin-top: 20px;
	display: inline-block;
	color: white;
}
/* ********************************************************************************************************************************
section Part Start
******************************************************************************************************************************** */
.section-part h4{
    padding: 5% ;     
}
/* .................................. */
.jqry-plgin{
    display: flex;
    flex-wrap: wrap;
}
.jqry-plgin{
    padding-left: 0px!important;
}
.jqry-plgin li {
	width: 33%;
	height: 100px;
	background-color: #43A1F6;
	line-height: 100px;
	margin: 1px auto;
}
.jqry-plgin li a{
    color: #fff;
}
/* ********************************************************************************************************************************
Faculty Part Start
******************************************************************************************************************************** */
#faculty {
	background-color: rgba(233, 233, 233, 0.11);
	margin-top: 50px;
}
.faculty-text h4 {
	padding: 2% 0 8% 0;
}
.faculty-text h6 {
	padding: 0 0 3% 0;
}
.faculty-grp{
    display: flex;
    flex-wrap: wrap;
}
.faculty-grp{
    padding-left: 0px!important;
}
.faculty-grp li {
	width: 19%;
	height: 300px;
	margin: 1px auto;
}
.faculty-grp li P{
	margin-top: 2px;
}
.faculty-grp li img{
    width: 100%;
}
.rajib-sir img{
    width: 20%;
}
.rajib-sir p{
   margin-bottom: 0!important;
   
}
.rajib-sir h6 {
	margin-bottom: 4%;
}

/* ********************************************************************************************************************************
Memories Part Start
******************************************************************************************************************************** */
#memories-part h4 {
	padding: 5%;
}
#memories-part a {
	background-color: #43A1F6;
	width: 100%;
	padding: 3%;
	color: #fff;
	margin-bottom: 10%;
	display: block;
}
#memories .gallery{
    display: flex;
    flex-wrap: wrap;
}
#memories .gallery a {
	width: 25%;
	margin-top: 1%;
}
#memories .gallery a img {
	width: 95%;
}
#memories h3 {
	font-size: 50px;
	padding-bottom: 7%;
	color: #303030c9;
}
.click {
	margin-top: 150px;
	margin-bottom: 150px;
}
.click a {
	background-color: #43A1F6;
	width: 100%;
    padding: 15px 30px;
    color: #fff;
}
/* ********************************************************************************************************************************
Support Part Start
******************************************************************************************************************************** */
#support h3{
    position: relative;
    display: inline-block;
}
#support h3::after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background-color: #43A1F6;
	bottom: -60%;
	left: 50%;
	transform: translate(-50%);
}
#support {
	padding: 50px 0 0 0;
}
.support-man p {
	font-size: 50px;
	display: inline-block;
	background-color: #43A1F6;
	color: white;
	height: 100px;
	border-radius: 50%;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100px;
	line-height: 100px;
}
.support-man h2 {
	font-size: 15px;
}
.support-man h6 {
	padding: 30px 0;
}
/* ********************************************************************************************************************************
Footer part
******************************************************************************************************************************** */
#footer {
	background-color: #43A1F6;
	height: 75px;
	line-height: 75px;

}
.footer-text p{
    color: white;
}
.footer-text p a{
    color: white;
}
/* ********************************************************************************************************************************
Ready File Part Start
******************************************************************************************************************************** */
.preview{
    background-color: #1D1E22;
    color: white;
    padding: 50px 0;
}
.preview-text{
    margin-top: 50px;
}
.download-links a {
	display: inline-block;
	background-color: #43A1F6;
	color: white;
	padding: 10px 15px;
	margin: 15px 10px 0 0;
}
/* ********************************************************************************************************************************
alart part
******************************************************************************************************************************** */
.alart-text {
	color: black;
	margin-top: 50px;
	margin-bottom: 20px;
}
.alart-text p {
	margin: 7px;
}
.alart-text p i {
	margin: 0 30px;
	color: red;
}















































/* ********************************************************************************************************************************
media only screen and (max-width: 768px)
******************************************************************************************************************************** */
@media screen and (max-width: 768px) {
    .faculty-grp li {
        width: 30%;
        height: 200px;
        /* margin: 1px auto; */
        font-size: 12px;
        margin: 0 2px;
    }
    .banner-img {
        padding: 20%;
        margin-top: 20%;
    }
    .rajib-sir img {
        width: 30%;
    }
     
}
/* ********************************************************************************************************************************
media only screen and (max-width: 480px)
******************************************************************************************************************************** */
@media screen and (max-width: 480px ) {
    .faculty-grp li {
        width: 30%;
        height: 165px;
        margin: 1px auto;
        font-size: 12px;
        margin: 0 2px;
    }
    .logo-img img{
        width: 80%;
        }
        .banner-part {
            padding: 0%;
            margin-top: 20%;
        }
        .rajib-sir img {
            width: 50%;
        }
}
/* ********************************************************************************************************************************
media only screen and (max-width: 599px)
******************************************************************************************************************************** */